fe-attachbox {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.fe-attachbox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &.file-empty .attach-list {
    background: transparent
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32px' width='192px'><text x='0' y='15' fill='lightgray' font-size='20'>Drag and drop here</text></svg>")
      center no-repeat;
  }
  &.file-dragover .attach-list {
    background: rgba(0, 0, 0, 0.125)
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32px' width='144px'><text x='0' y='15' fill='orange' font-size='20'>Drop file here!</text></svg>")
      center no-repeat;
  }
  &.file-transfer .attach-list {
    background: rgba(0, 0, 0, 0.25)
      url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32px' width='144px'><text x='0' y='15' fill='orange' font-size='20'>File transfer...</text></svg>")
      center no-repeat;
  }

  &.fold {
    .attach-box {
      grid-template-rows: 0 2rem;

      .attach-bar.top {
        display: none;
      }
      .attach-list {
        height: 0 !important;
        padding: 0 !important;
        border: 0 !important;
      }
      #foldBtn {
        svg {
          transform: scaleY(-1);
        }
      }
    }
  }

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    display: none;
  }

  .attach-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;

    display: grid;
    grid-template-rows: 2rem 1fr 2rem;

    .attach-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      padding: 0 0.5rem 0 2rem;
      background-color: #fafafa;

      .bar-item {
        &.right-start {
          margin-left: auto;
        }

        .title {
          font-weight: 700;
        }

        select {
          font-size: 0.875rem;
          padding: 0.125rem 0.5rem;
        }

        button {
          border: 1px solid transparent;
          font-size: 0.875rem;

          &:hover {
            background: #e2eff4;
            border-color: #91b8ca;
            color: #0f6a9b;
          }
        }
      }

      #foldBtn {
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 1px 2px;

        &:hover {
          background-color: #e9eefb;
          border-color: #90a5dc;
        }
      }
    }

    .attach-list {
      overflow: auto;
      margin: 0;
      padding: 0;
      border-top: 1px solid #c5c5c5;
      border-bottom: 1px solid #c5c5c5;

      .content {
        margin: 0;
        padding: 1rem;

        &:only-child {
          // 1안뿐일때
          box-shadow: none !important;
          // '공통첨부' 라벨 가리기
          label {
            display: none !important;
          }
          ol {
            margin-top: 0 !important;
          }
        }

        &:not(:first-child) {
          border-top: 1px solid var(--color-border);
        }

        &.focus {
          box-shadow: inset 0 0 2rem #e2eff4;
        }

        label {
          &:only-child {
            display: none;
          }
          .content-number {
            font-weight: 700;
          }
        }

        ol:not(:empty) {
          margin-top: 0.5rem;

          li {
            border-bottom: 1px solid transparent;
            &:hover {
              border-color: var(--color-border);
            }
          }
        }
      }
    }
  }
}
