fe-relationdocdialog {
  position: relative;
  display: block;
}

.fe-relationdocdialog {
  background-color: var(--color-bg);
  padding: 1rem;
  width: 56rem;
  height: 48rem;

  display: grid;
  grid-template-rows: 2.5rem 1fr 2.5rem;

  .header {
    font-weight: 700;
    border-bottom: 1px solid var(--color-border);
    line-height: 2.5rem;

    display: flex;
    justify-content: space-between;
  }

  .body {
    overflow: scroll;

    .item {
      display: grid;
      grid-template-columns: 7rem 1fr 6rem 6rem 6rem 2rem;
      padding: 0.25rem;

      &.head {
        position: sticky;
        top: 0;
        background-color: var(--color-bg);
        font-weight: 600;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-border);
    padding: 0.5rem 0 0;
  }
}
