fe-relationdocdialog {
  position: relative;
  display: block;
}

.fe-relationdocdialog {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .body {
    width: 56rem;
    height: 48rem;

    .item {
      display: grid;
      grid-template-columns: 7rem 1fr 6rem 6rem 6rem 2rem;
      padding: 0.25rem;

      &.head {
        position: sticky;
        top: 0;
        background-color: var(--color-bg);
        font-weight: 600;
      }
    }
  }
}
