fe-sancpassworddialog {
  position: relative;
  display: block;
}

.fe-sancpassworddialog {
  .body {
    width: 26rem;
    height: 10rem;

    input[type="password"] {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0.5rem;
    }
  }
}
