fe-sendrejectdialog {
  position: relative;
  display: block;
}

.fe-sendrejectdialog {
  .body {
    width: 36rem;
    height: 16rem;

    .comment-write {
      position: relative;
      height: 100%;
      // border-top: 1px solid var(--color-border);
      padding: 4px 0;

      textarea {
        width: 100%;
        height: 100%;
        border: 0;
        resize: none;

        &:focus-visible {
          outline: none;
        }
      }
      label {
        position: absolute;
        right: 0;
        bottom: 1px;
        padding: 4px;
        background-color: var(--color-bg);
        font-size: 0.875rem;
      }
    }
  }
}
