fe-signdialog {
  position: relative;
  display: block;
}

.fe-signdialog {
  .body {
    [role="tabpanel"][active] {
      height: 24rem;
      display: grid;
      grid-template-rows: 160px 1fr;
    }

    .method-select {
      margin: 0.5rem 0;
    }

    canvas {
      margin: auto;
      border: 1px solid var(--color-border-active);
    }

    canvas + div {
      padding-top: 1rem;
    }

    .stamp-list {
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0.5rem;
      overflow: auto;

      img {
        border: 1px solid var(--color-border);
        width: auto;
        height: 4rem;
        &:hover {
          box-shadow: var(--box-shadow-small);
        }
      }
    }

    .config {
      display: flex;
      gap: 1rem;
      align-items: baseline;
    }

    input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      display: none;
    }
  }
}
