fe-stampdialog {
  position: relative;
  display: block;
}

.fe-stampdialog {
  .body {
    width: 36rem;
    height: 22rem;

    display: flex;
    & > div {
      width: 50%;
      padding: 1rem;
    }
    ul.list {
      li {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
