[role="tab"]:hover {
  text-shadow: var(--text-shadow-hover);
}
[role="tab"][active] {
  color: var(--color-checked);
}

[role="tabpanel"] {
  display: none;
}
[role="tabpanel"][active] {
  display: block;
}
