[role="tab"] {
  font-weight: 700;
  color: var(--color-text);
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}
[role="tab"]:not([disabled]):hover {
  border-color: var(--color-primary);
}
[role="tab"][active] {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

[role="tabpanel"] {
  display: none;
}
[role="tabpanel"][active] {
  display: block;
}
