button {
  &.btn {
    display: inline-block;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    color: #333;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    background-color: #fff;
    border: 1px solid #b1b1b1;
    border-radius: 2px;

    &.btn-primary {
      color: #fff;
      background-color: var(--color-primary);
    }
  }
}
