button {
  &.btn {
    display: inline-block;
    height: 28px;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    padding: 0 9px;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #b1b1b1;
    border-radius: 2px;

    &.btn-primary {
      color: #fff;
      background-color: #3858ed;
    }
  }
}
