*,
::after,
::before {
  box-sizing: border-box;
}

.modal-container {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #0004;
}

.modal-container.open {
  display: flex;
}

.modal-container > div {
  box-shadow: 0 0 4px 0px #000;
  background-color: #fff;
  padding: 8px;
}

[readonly] {
  opacity: 0.4;
}
