@charset "utf-8";

/*******************************************************************************
* Tree container
*/
ul.dynatree-container {
  white-space: nowrap;
  margin: 0; /* issue 201 */
  font-size: 0;
  min-height: 0%;
}
ul.dynatree-container ul {
  padding: 0;
  margin-left: 16px;
}
ul.dynatree-container > li > ul {
  padding: 0;
  border-left: 0 none;
}
ul.dynatree-container li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  background: url('../img/dynatree/bg_line.png') -31px 0 repeat-y; /* 추가 : 2019-04-15 */
  /*background-attachment: scroll;*/
  margin: 0;
  padding: 0;
  font-size: 0;
}
ul.dynatree-container > li {
  background: none;
} /* 추가 : 2019-04-15 */
ul.dynatree-container li .node-group {
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #ddd;
}
ul.dynatree-container li * {
  vertical-align: top;
}
ul.dynatree-container > li:last-child {
  margin-bottom: 8px;
}
/* Suppress lines for last child node */
ul.dynatree-container li.dynatree-lastsib {
  background-image: none;
}
/* Suppress lines if level is fixed expanded (option minExpandLevel) */
ul.dynatree-no-connector > li {
  background-image: none;
}
/* Style, when control is disabled */
.ui-dynatree-disabled ul.dynatree-container {
  opacity: 0.5;
  /* filter: alpha(opacity=50); */ /* Yields a css warning */
  /* background-color: silver; */
}

/*******************************************************************************
* Common icon definitions
*/
span.dynatree-empty,
span.dynatree-vline,
span.dynatree-expander,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker {
  width: 16px;
  height: 16px;
  /* display: -moz-inline-box; */ /* @ FF 1+2 removed for issue 221 */
  /* -moz-box-align: start; */ /* issue 221 */
  display: inline-block; /* Required to make a span sizeable */
  vertical-align: top;
  background: url('../img/dynatree/icons.png') 0 0 no-repeat;
}

/* Used by 'icon' node option: */
ul.dynatree-container img {
  width: 34px;
  height: 34px;
  border-style: none;
  border-radius: 50%;
  vertical-align: top;
}

/*******************************************************************************
* Lines and connectors
*/
/* span.dynatree-connector {
	background-position: -16px -64px;
} */

/*******************************************************************************
* Expander icon
* Note: IE6 doesn't correctly evaluate multiples class names,
*		so we create combined class names that can be used in the CSS.
*
* Prefix: dynatree-exp-
* 1st character: 'e': expanded, 'c': collapsed
* 2nd character (optional): 'd': lazy (Delayed)
* 3rd character (optional): 'l': Last sibling
*/

span.dynatree-expander {
  position: relative;
  margin-top: 3px;
  background: url('../img/dynatree/icons.png') -4px -15px no-repeat;
  cursor: pointer;
} /* position값 추가 : 2019-04-15 */
span.dynatree-expander:before {
  position: absolute;
  left: 0;
  top: -3px;
  display: block;
  content: '';
  width: 16px;
  /* height: 16px; */
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  z-index: 1;
} /* 추가 : 2019-04-15 */
.dynatree-exp-c span.dynatree-expander, /* Collapsed */
.dynatree-exp-cl span.dynatree-expander, /* Collapsed, not delayed, last sibling */
.dynatree-exp-cd span.dynatree-expander, /* Collapsed, delayed, not last sibling */
.dynatree-exp-cdl span.dynatree-expander /* Collapsed, delayed, last sibling */ {
  background-position: -4px -15px;
}
.dynatree-exp-e span.dynatree-expander, /* Expanded, not delayed, not last sibling */
.dynatree-exp-el span.dynatree-expander, /* Expanded, not delayed, last sibling */
.dynatree-exp-ed span.dynatree-expander, /* Expanded, delayed, not last sibling */
.dynatree-exp-edl span.dynatree-expander /* Expanded, delayed, last sibling */ {
  background-position: -67px -16px;
}

/*******************************************************************************
* Checkbox icon
*/
span.dynatree-checkbox {
  margin: 3px 3px 0 0;
  background-position: 0px -32px;
}
span.dynatree-checkbox:hover {
  background-position: -16px -32px;
}

.dynatree-partsel span.dynatree-checkbox {
  background-position: -64px -32px;
}
.dynatree-partsel span.dynatree-checkbox:hover {
  background-position: -80px -32px;
}

.dynatree-selected span.dynatree-checkbox {
  background-position: -32px -32px;
}
.dynatree-selected span.dynatree-checkbox:hover {
  background-position: -48px -32px;
}

/*******************************************************************************
* Radiobutton icon
* This is a customization, that may be activated by overriding the 'checkbox'
* class name as 'dynatree-radio' in the tree options.
*/
span.dynatree-radio {
  margin: 3px 3px 0 0; /* 수정 : 2019-04-15 */
  background-position: 0px -48px;
}
span.dynatree-radio:hover {
  background-position: -16px -48px;
}

.dynatree-partsel span.dynatree-radio {
  background-position: -64px -48px;
}
.dynatree-partsel span.dynatree-radio:hover {
  background-position: -80px -48px;
}

.dynatree-selected span.dynatree-radio {
  background-position: -32px -48px;
}
.dynatree-selected span.dynatree-radio:hover {
  background-position: -48px -48px;
}

/*******************************************************************************
* Node type icon
* Note: IE6 doesn't correctly evaluate multiples class names,
*		so we create combined class names that can be used in the CSS.
*
* Prefix: dynatree-ico-
* 1st character: 'e': expanded, 'c': collapsed
* 2nd character (optional): 'f': folder
*/

/* Default icon
span.dynatree-icon {
	margin-left: 3px;
	background-position: 0px 0px;
} */

/* Status node icons
.dynatree-statusnode-wait span.dynatree-icon {
	background-image: url("loading.gif");
}

.dynatree-statusnode-error span.dynatree-icon {
	background-position: 0px -112px;
	background-image: url("ltError.gif");
} */

/*******************************************************************************
* Node titles
*/

/* @Chrome: otherwise hit area of node titles is broken (issue 133)
Removed again for issue 165; (133 couldn't be reproduced) */
span.dynatree-node {
  /*	display: -moz-inline-box; /* issue 133, 165, 172, 192. removed for issue 221*/
  /*	-moz-box-align: start; /* issue 221 */
  display: inline-block; /* issue 373 Required to make a span sizeable */
  vertical-align: top;
}

/* Remove blue color and underline from title links */
ul.dynatree-container a /*, ul.dynatree-container a:visited*/ {
  height: 22px;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 21px;
  color: var(--color-text);
  text-decoration: none;
  vertical-align: top;
}

ul.dynatree-container a.dynatree-title .node-group:hover {
  text-decoration: underline !important;
}
ul.dynatree-container a.dynatree-title .node-folder:hover {
  text-decoration: underline !important;
}
span.dynatree-node a {
  display: inline-block;
}
ul.dynatree-container a:focus,
span.dynatree-focused,
span.dynatree-focused a:link /* @IE */ {
  outline: none;
}

.dynatree-node {
  position: relative;
  display: inline-block;
  min-height: 22px;
}
.dynatree-folder {
  min-height: 22px;
  padding-right: 38px;
}
.dynatree-title {
  display: inline-block;
  min-height: 20px;
  font-size: 0.875rem;
}
.dynatree-node .dynatree-title {
  height: 22px;
  line-height: 22px;
}
.dynatree-folder .dynatree-title {
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  color: var(--color-text);
}

.dynatree-active a.dynatree-title {
  margin-right: 3px;
  color: #3858ed !important;
  font-weight: bold;
  outline: 0 none;
}
.dynatree-active .node-folder {
  font-weight: bold;
  color: #3858ed;
}
.dynatree-active .node-folder {
  font-weight: bold;
  color: #3858ed;
}

/*******************************************************************************
* Drag'n'drop support
*/

/*** Helper object ************************************************************/
div.dynatree-drag-helper a {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid gray;
  background-color: white;
  opacity: 0.8;
}
span.dynatree-drag-helper-img {
  /* 	position: relative;
	left: -16px; */
}
div.dynatree-drop-accept span.dynatree-drag-helper-img {
  background-position: -32px -112px;
}
div.dynatree-drag-helper.dynatree-drop-reject {
  border-color: red;
}
div.dynatree-drop-reject span.dynatree-drag-helper-img {
  background-position: -16px -112px;
}

/*** Drop marker icon *********************************************************/
#dynatree-drop-marker {
  position: absolute;
  width: 24px;
  margin: 0;
  background-position: 0 -128px;
  /*	border: 1px solid red; */
}
#dynatree-drop-marker.dynatree-drop-after,
#dynatree-drop-marker.dynatree-drop-before {
  width: 64px;
  background-position: 0 -144px;
}
#dynatree-drop-marker.dynatree-drop-copy {
  background-position: -64px -128px;
}
#dynatree-drop-marker.dynatree-drop-move {
  background-position: -64px -128px;
}

/*** Source node while dragging ***********************************************/
span.dynatree-drag-source {
  /* border: 1px dotted gray; */
  background-color: #e0e0e0;
}
span.dynatree-drag-source a {
  color: gray;
}

/*** Target node while dragging cursor is over it *****************************/
.dynatree-drop-target {
  background-color: #edf3ff !important;
  display: block;
}
span.dynatree-drop-target a {
}
.dynatree-drop-target.dynatree-drop-accept a {
  /*border: 1px solid green;*/
  text-decoration: none;
}

/*******************************************************************************
* Custom node classes (sample)
*/
span.custom1 a {
  background-color: maroon;
  color: yellow;
}

/*******************************************************************************
* HSO custom style
*/
span.dynatree-connector,
span.dynatree-icon {
  display: none;
}

.ui-dynatree-notuse span.dynatree-checkbox {
  background-position: -64px -32px;
}
.dynatree-selected.ui-dynatree-notuse span.dynatree-checkbox {
  background-position: -48px -32px;
}
.ui-dynatree-notuse span.dynatree-radio {
  background-position: -64px -48px;
}
.dynatree-selected.ui-dynatree-notuse span.dynatree-radio {
  background-position: -48px -48px;
}

/* 입력폼 케이스 */
.node-folder,
.node-group {
  display: inline-block;
  height: 22px;
}
.node-folder input[type='text'],
.node-group input[type='text'],
.dynatree-title input[type='text'] {
  height: 22px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}
.node-folder input[type='text']:focus,
.node-group input[type='text']:focus,
.dynatree-title input[type='text']:focus {
  border-bottom-color: #3858ed !important;
}

.menu_tree .node-folder {
  max-width: 160px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* 결재, 문서함, 내파일 스타일 수정 180320 */
#userTree ul.dynatree-container > li > ul,
#folder_tree ul.dynatree-container > li > ul,
#deptTree ul.dynatree-container > li > ul {
  padding: 0;
  margin-left: 16px;
}

.tree.folder ul.dynatree-container li .node-group,
.org_tree ul.dynatree-container li .node-group {
  padding-left: 0;
  border-left: 0 none;
}

ul.dynatree-container li .help_txt {
  margin-left: -8px;
  cursor: default;
}

/* 공유 아이콘 */
.dynatree-title .shared {
  margin-top: 3px;
}

/* 필터 아이콘 */
.dynatree-folder .filter-menu {
  display: none;
  content: '';
  top: 3px;
  right: 22px;
  width: 16px;
  height: 16px;
  background: url('../img/dynatree/ico_filter.png') 0 0 no-repeat;
  overflow: hidden;
} /* 수정 : 2019-03-22 */
.dynatree-folder .filter-menu:hover {
  background-position: 0 -20px;
} /* 추가 : 2019-03-22 */
.dynatree-folder .filter-menu.active {
  background-position: 0 -40px;
} /* 추가 : 2019-03-22 */
.dynatree-folder .node-menu.on + .filter-menu {
  top: 3px;
  right: 0;
}
.dynatree-folder .node-menu + .filter-menu.on {
  position: absolute;
  display: inline-block;
}

/* 부재자 아이콘 */
.dynatree-node .usr_attnd {
  position: absolute;
  display: inline-block;
  content: '';
  width: 18px;
  height: 18px;
  margin: 5px 0 0 4px;
  background: url('../img/btn_absent.png') 0 0 no-repeat;
  font-size: 0;
  overflow: hidden;
  border-radius: 2px;
  line-height: 16px;
  padding: 0 3px;
}

/* 사용자 전체선택 아이콘 추가 2018-08-28 김민우 */
.dynatree-folder .node-menu {
  content: '';
  top: 3px;
  right: 18px;
  width: 16px;
  height: 16px;
  background: url('../img/dynatree/btn_check_all.png') 0 0 no-repeat;
  display: none;
  overflow: hidden;
}
.dynatree-folder .node-menu:hover {
  background-position: 0 -20px;
} /* 수정 : 2019-03-22 */
.dynatree-folder .node-menu.active {
  background-position: 0 -40px;
} /* 추가 : 2019-03-22 */
.dynatree-folder .node-menu.on {
  position: absolute;
  display: inline-block;
}

/* 트리 구분선 */
.dynatree-container .tree_inner_section {
  position: relative;
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 1px dotted #e3e3e3;
}
.dynatree-container .tree_inner_section ul,
.dynatree-container .tree_inner_section li {
  width: fit-content;
}

/* lnb */
.lnb_area .dynatree-node {
  width: 100%;
  display: inline-block;
}
.lnb_area .dynatree-node .ico.add {
  top: 3px;
  right: auto;
  display: inline-block;
  margin-left: 4px;
  background-image: none;
}
.lnb_area .dynatree-node .ico.modify {
  top: 3px;
  right: auto;
  display: inline-block;
  background-image: none;
}
.lnb_area .dynatree-node:hover .ico.modify {
  background-image: url(../img/lnb_ico_modify.png);
}

.lnb_area .dynatree-node.dynatree-has-children {
  padding-right: 36px;
}
.lnb_area .dynatree-node.dynatree-has-children .ico.modify {
  right: auto;
}
.lnb_area .dynatree-node.dynatree-has-children .ico.add + .ico.modify {
  right: auto;
  margin-left: 20px;
}

.lnb_area .dynatree-node:hover .ico.add {
  background-image: url(../img/lnb_ico_add.png);
}
.lnb_area .dynatree-node:hover .ico.add:hover {
  background-position: 0 -16px;
}
.lnb_area .dynatree-node:hover .ico.modify {
  background-image: url(../img/lnb_ico_modify.png);
}
.lnb_area .dynatree-node:hover .ico.modify:hover {
  background-position: 0 -16px;
}
.lnb_area .dynatree-node .ico.add + .ico.modify {
  margin-left: 20px;
}

/* 폴더형 */
.folder span.dynatree-connector {
  display: inline-block;
  width: 9px;
  height: 22px;
  margin-left: 7px;
  padding-left: 0;
  background: url('../img/dynatree/bg_line.png') -19px 0 no-repeat;
} /* 수정 : 2019-04-15 */
.folder ul.dynatree-container li .node-group {
  padding-left: 0;
  border-left: 0 none;
}
.folder li.dynatree-lastsib > .dynatree-node > span.dynatree-connector,
.folder li:last-child > .dynatree-node > span.dynatree-connector {
  background-position: 0 0;
} /* 추가 : 2019-04-15 */

.folder span.dynatree-icon {
  display: inline-block;
  width: 18px;
  height: 20px;
  background: url('../img/dynatree/icons.png') 0 -65px no-repeat;
  vertical-align: top;
}
.folder span.dynatree-icon.plus {
  background: url('../img/dynatree/icons.png') -20px -63px no-repeat;
}
.folder .dynatree-expanded span.dynatree-icon {
  background-position: -40px -65px;
}
.folder .dynatree-active span.dynatree-icon {
  background-position: -61px -65px;
}
.dynatree-node.dynatree-ico-c span.dynatree-icon {
  display: none;
}

/* 부서문서함 보유일때 별도 폴더아이콘 180816 */
.folder .ui-dynatree-rbox-have span.dynatree-icon {
  background-position: 0 -84px;
}
.folder .ui-dynatree-rbox-have.dynatree-expanded span.dynatree-icon {
  background-position: -20px -84px;
}
.folder .ui-dynatree-rbox-have.dynatree-active span.dynatree-icon {
  background-position: -40px -84px;
}

/* 발송처리권한 보유일때 별도 폴더아이콘 : 2019-08-21 */
.folder .ui-dynatree-in-controller span.dynatree-icon {
  background-position: 0 -159px;
  margin-right: 1px;
}
.folder .ui-dynatree-in-controller.dynatree-expanded span.dynatree-icon {
  background-position: -23px -159px;
}
.folder .ui-dynatree-in-controller.dynatree-active span.dynatree-icon {
  background-position: -46px -159px;
}

/* 부서문서함 보유 + 발송처리권한 보유일때 별도 폴더아이콘 : 2019-08-21 */
.folder .ui-dynatree-rbox-have.ui-dynatree-in-controller span.dynatree-icon {
  background-position: 0 -178px;
}
.folder .ui-dynatree-rbox-have.ui-dynatree-in-controller.dynatree-expanded span.dynatree-icon {
  background-position: -23px -178px;
}
.folder .ui-dynatree-rbox-have.ui-dynatree-in-controller.dynatree-active span.dynatree-icon {
  background-position: -46px -178px;
}

/* 드롭타켓 케이스 추가 : 2019-04-16 */
.dynatree-drop-target span.dynatree-connector {
  background-position: -19px -32px;
}
.folder li.dynatree-lastsib > .dynatree-node.dynatree-drop-target > span.dynatree-connector,
.folder li:last-child > .dynatree-node.dynatree-drop-target > span.dynatree-connector {
  background-position: 0 -32px;
}

/* 드레그 케이스 추가 : 2019-04-16 */
.dynatree-drag-source span.dynatree-connector {
  background-position: -19px -64px;
}
.folder li.dynatree-lastsib > .dynatree-node.dynatree-drag-source > span.dynatree-connector,
.folder li:last-child > .dynatree-node.dynatree-drag-source > span.dynatree-connector {
  background-position: 0 -64px;
}

/* 동호회 */
.club_group ul.dynatree-container li .node-group {
  padding-left: 6px;
  border-left: 0 none;
}
.club_group .dynatree-node:not(.dynatree-folder) {
  padding-top: 7px;
} /* 추가 : 2019-08-28 */
.club_group .dynatree-node:not(.dynatree-folder) span.dynatree-connector {
  position: relative;
  top: -7px;
  width: 10px;
  height: 39px;
  display: inline-block;
  margin-left: 7px;
  background-image: url('../img/dynatree/bg_line_club.png');
} /* 수정 : 2019-08-28 */
.club_group .dynatree-lastsib .dynatree-node:not(.dynatree-folder) span.dynatree-connector,
.club_group .dynatree-lastsib li.dynatree-lastsib .dynatree-node:not(.dynatree-folder) span.dynatree-connector {
  height: 36px;
  margin-bottom: 5px;
} /* 수정 : 2018-12-06 */ /* 수정 : 2019-08-28 */
.club_group .dynatree-lastsib li .dynatree-node:not(.dynatree-folder) span.dynatree-connector {
  height: 39px;
  margin-bottom: 0;
} /* 추가 : 2018-12-06 */ /* 수정 : 2019-08-28 */
.club_group img + .dynatree-title span {
  display: inline-block;
  height: 36px;
  padding: 5px 10px;
  margin-left: 4px;
} /* 수정 : 2019-08-28 */
