.modal-container {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);

  &.open {
    display: flex;
    z-index: 999;
  }

  .modal-content {
    background-color: #fff;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem;

    display: grid;
    grid-template-rows: 40px 1fr 40px;
    gap: 0.5rem;

    .modal-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-border);
    }

    .modal-body {
      overflow: hidden;

      & > div {
        height: 100%;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;
      border-top: 1px solid var(--color-border);
    }
  }
}
