// font size
:root {
  --size-smallest: 0.7rem;
  --size-small: 0.875rem;
  --size-normal: 1rem;
  --size-large: 1.25rem;
  --size-largest: 1.5rem;
  --size-huge: 2rem;
  --size-hugest: 4rem;
}

// border-radius
:root {
  --border-radius: 0.125rem;
}

// custom definition
:root {
  --cover-aspect-ratio: 400 / 269 auto;
}

// color definition
:root {
  --color-orange: #ffa500;
  --color-red: #ff0000;
  --color-blue: #0000ff;
  --color-green: #00ff00;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-alpha-light: #00000044;
  --color-black-alpha-dark: #00000088;

  --color-light: #eeeeee;
  --color-light-dark: #dddddd;

  --color-dark: #202020;
  --color-dark-light: #555555;
  --color-dark-dark: #111111;

  --color-gray: #808080;
  --color-gray-light: #cccccc;
  --color-gray-dark: #aaaaaa;
}

// light theme
:root {
  --color-bg: var(--color-white);
  --color-bg-notice: var(--color-gray-light);
  --color-bg-cover: var(--color-gray-light);
  --color-bg-hover: var(--color-gray-dark);

  --color-text: var(--color-dark);
  --color-text-secondary: var(--color-gray);
  --color-text-placeholder: var(--color-dark-light);
  --color-text-danger: var(--color-red);

  --color-checked: var(--color-orange);

  --color-border: var(--color-light-dark);
  --color-border-active: var(--color-orange);
  --color-border-reversed: var(--color-black-alpha-dark);

  --box-shadow: 0 2px 16px 4px var(--color-black-alpha-light);
  --box-shadow-large: 0 8px 32px 8px var(--color-black-alpha-light);
  --box-shadow-small: 0 2px 8px 2px var(--color-black-alpha-dark);

  --text-shadow: 1px 1px 2px var(--color-gray-dark);
  --text-shadow-hover: 1px 1px 2px var(--color-red);
  --text-shadow-active: 1px 1px 2px var(--color-orange);
}

// dark theme
[theme='dark'] {
  --color-bg: var(--color-dark);
  --color-bg-notice: var(--color-dark-dark);
  --color-bg-cover: var(--color-dark-dark);
  --color-bg-hover: var(--color-dark-light);

  --color-text: var(--color-light);
  --color-text-secondary: var(--color-gray);
  --color-text-placeholder: var(--color-gray-dark);
  --color-text-danger: var(--color-red);

  --color-checked: var(--color-orange);

  --color-border: var(--color-dark-dark);
  --color-border-active: var(--color-orange);
  --color-border-reversed: var(--color-light-dark);

  --box-shadow: 0 2px 16px 4px var(--color-black-alpha-light);
  --box-shadow-large: 0 8px 32px 8px var(--color-black-alpha-light);
  --box-shadow-small: 0 2px 8px 2px var(--color-black-alpha-dark);

  --text-shadow: 1px 1px 2px var(--color-dark-light);
  --text-shadow-hover: 1px 1px 2px var(--color-orange);
}

[debug='true'] {
  --debug-border: 1px dashed #418546;
  --debug-padding: 2px;
}
