@import "./css/common";

html {
  font-size: 16px;
  font-family: "Malgun Gothic";
}

main {
  position: absolute;
  inset: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: 80px 100px 1fr;

  .editor-wrap {
    width: 100%;
  }
}

fe-editor {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.title-wrap {
  width: 100%;
}

body aside {
  & > div {
    width: 800px;
    height: 1000px;
  }

  table {
    width: 100%;
  }
}

fe-flow {
  position: relative;
  display: block;
  height: 500px;
}
