@import "./css/root.scss";
@import "./css/initiate.scss";
@import "./css/modal.scss";

// 문서정보
@import "./components/FeApprovalType.scss";
@import "./components/FeDocNumber.scss";
@import "./components/FeEnforceType.scss";
@import "./components/FeFlag.scss";
@import "./components/FeFolder.scss";
@import "./components/FeKeepPeriod.scss";
@import "./components/FePageCnt.scss";
@import "./components/FePublication.scss";
@import "./components/FeSecurityLevel.scss";
@import "./components/FeSpecialDoc.scss";
@import "./components/FeSpecialList.scss";
@import "./components/FeTitle.scss";
@import "./components/FeViewRange.scss";
@import "./components/FeViewRestriction.scss";

// 결재경로
@import "./components/FeFlow.scss";
@import "./components/FeParticipant.scss";
// 수신부서
@import "./components/FeRecipient.scss";
// 발송부서
@import "./components/FeSender.scss";
// 에디터
@import "./components/FeEditor.scss";

// 탭
@import "./utils/TabUI.scss";
// 트리,목록
@import "./css/tree-list.scss";

main {
  position: absolute;
  inset: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: 80px 100px 1fr;

  .editor-wrap {
    width: 100%;
  }
}

body aside {
  & > div {
    width: 1020px;
    height: 720px;
  }

  .doc-info {
    display: grid;
    grid-template-columns: 6rem 1fr;
    gap: 0.5rem;
    max-height: 100%;
    overflow: auto;

    label {
      padding-left: 0.5rem;
    }
  }
}
