@import "./css/root.scss";
@import "./css/initiate.scss";
@import "./css/modal.scss";
@import "./css/button.scss";
@import "./css/scrollbar.scss";

main {
  position: absolute;
  inset: 0;
  overflow: hidden;

  display: grid;
  grid-template-rows: 60px 1fr 20rem;

  &.fold-attachbox {
    grid-template-rows: 60px 1fr 2rem;
  }

  .menu-wrap {
    padding: 20px 30px 12px;
  }

  .editor-wrap {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    width: 100%;
  }
}
